.headMenu {
    color: white;
    size: 16px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.body {
    background-color: rgb(135, 206, 250);
}
.cont {
    background-color: rgb(176, 224, 230);
}
.navbar-default {
    background-color: #008b8b;
    border-color: #7fffd4;
}