@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please input id and select item</h2>
<ul>
    <li>User</li>
    <li>Comment</li>
    <li>Post</li>
    <li>Todo</li>
</ul>

