@{
    ViewData["Title"] = "BSA Task";
}
<div class="container headMenu body">
    <div class="row">
        <h2>BSA2018 ASP.NET CORE MVC TASK</h2>
    </div>
    <div class="row">
        <h3>Menu</h3>
        <h2>Show information about users</h2>
    </div>
</div>

